/* style.css */

*{
    background-color: #ffe5e5;
    font-family: 'Times New Roman', Times, serif;
}

.heading1{
    text-align: center;
    margin: 100px;
}

.steak, .eggs {
    text-align: center;
    border: black 5px;
    margin: 0 auto 50px;
    position: relative;
    padding: 25px 25px;
    background-color: rgb(222, 246, 255);
    font-size: x-large;
    width: 200px;
    font-style: italic;
}

#image {
    display: block;
    margin: auto;
    margin-bottom: 100px;
    width: 500px;
    box-align: center ;
}